Source: ros-noetic-microstrain-inertial-rqt
Section: misc
Priority: optional
Maintainer: Rob Fisher <rob.fisher@parker.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-microstrain-inertial-msgs, ros-noetic-nav-msgs, ros-noetic-rospy, ros-noetic-rqt-gui, ros-noetic-rqt-gui-py, ros-noetic-std-msgs, ros-noetic-tf
Homepage: https://github.com/LORD-MicroStrain/microstrain_inertial
Standards-Version: 3.9.2

Package: ros-noetic-microstrain-inertial-rqt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-geometry-msgs, ros-noetic-microstrain-inertial-msgs, ros-noetic-nav-msgs, ros-noetic-rospy, ros-noetic-rqt-gui, ros-noetic-rqt-gui-py, ros-noetic-std-msgs, ros-noetic-tf
Description: The microstrain_inertial_rqt package provides several RQT widgets to view the status of Microstrain devices
